################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RestBuilder/RestBuilder/bin/Debug/netstandard2.0
/RestBuilder/RestBuilder/obj
/RestBuilder/RestBuilder.Sample/bin/Debug/net8.0
/RestBuilder/RestBuilder.Sample/obj
/RestBuilder.SourceGenerator/obj
/RestBuilder.SourceGenerator/bin/Debug/netstandard2.0
/RestBuilder.Sample/obj
/RestBuilder.Core/obj
/RestBuilder.Core/bin/Debug/netstandard2.0
